.wrapper {
  display: grid;
  padding: 2rem;
  grid-template-columns: 2fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
}

.ImgPerfil img {
  width: 100%;
  border-radius: 46% 54% 36% 64% / 51% 28% 72% 49%;
  height: 20rem;
  width: 20rem;
  border: 5px solid #407bff;
}

.wrapper h2 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.4;
  text-align: center;
}

.wrapper p {
  font-size: 1.1rem;
}

.infos a {
  display: inline-block;
  height: 2.5em;
  padding: 0.5rem 1.2rem;

  background: none;
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  pointer-events: all;
  user-select: none;
  cursor: pointer;
  outline: 0.12rem solid#5151e6;
  background-color: #4949ff;
  color: #fff;
  margin: 10px;
}

.infos a:hover {
  background-color: #fff;
  color: #4949ff;
  transition: 0.4s;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    margin: 1rem;
    min-height: initial;
  }
  .infos {
    display: flex;
    flex-direction: column;
  }
  .infos h2 {
    font-size: 1.4rem;
    line-height: 1.525;
    margin-bottom: 0;
  }
  .infos p {
    font-size: 0.8rem;
    line-height: 2.025;
  }
  .infos a {
    width: 150px;
    margin: auto;
    margin-top: 10px;
  }
  .ImgPerfil {
    grid-row: 1;
    margin: 0 auto;
  }
  .ImgPerfil img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;
    margin: 1rem;
    min-height: initial;
  }
  .infos {
    display: flex;
    flex-direction: column;
  }
  .infos h2 {
    font-size: 1.4rem;
    line-height: 1.525;
    margin-bottom: 0;
  }
  .infos p {
    font-size: 0.8rem;
    line-height: 2.025;
  }
  .infos a {
    width: 150px;
    margin: auto;
    margin-top: 10px;
  }
  .ImgPerfil {
    grid-row: 1;
    margin: 0 auto;
  }
  .ImgPerfil img {
    width: 200px;
    height: 200px;
  }
}
