.introducao {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  align-items: end;
  justify-items: center;
  min-height: 100vh;
}

.introducao h1 {
  font-size: 2.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

.introducao a img {
  width: 35px;
  margin: 0.2rem;
}

.introducao a img:hover {
  opacity: 0.2;
  transition: 0.1s;
  cursor: pointer;
}

.introducao a span {
  font-size: 2rem;
}

.maisInfos {
  display: flex;
  margin-top: -10rem;
  align-items: center;
  justify-content: center;
  height: auto;
  /* width: 105px;  */
  cursor: pointer;
}

.maisInfos img {
  width: 35px;
  cursor: none;
}
.introducao .maisInfos a {
  text-decoration: none;
}

.introducao p {
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao span {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .introducao h1 {
    font-size: 1.5rem;
  }
}

a:hover {
  color: #c9c9c9;
}

.black {
  color: #121212;
  font-size: 2.2rem;
}

.white {
  color: white;
  font-size: 2.2rem;
}

@media (max-width: 500px) {
  .introducao {
    min-height: initial;
    grid-template-columns: 1fr;
    align-items: center;
    min-height: initial;
    color: #1a2744;
  }
  .introducao h1 {
    font-size: 2rem;
    line-height: 1.625;
    margin-bottom: 0;
  }
  .introducao p {
    font-size: 0.8rem;
  }

  .introducao a span {
    font-size: 0.6rem;
  }
  .introducao img {
    display: none;
  }

  .maisInfos {
    padding-top: 6rem;
  }
  .maisInfos a {
    display: inline-block;
    height: 2.5em;
    padding: 0.5rem 1.2rem;

    background: none;
    border-radius: 0.4rem;
    text-align: center;
    text-decoration: none;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    outline: 0.12rem solid#5151e6;
    background-color: #4949ff;
    color: #fff;
    margin: 10px;
  }

  .maisInfos a:hover {
    background-color: #fff;
    color: #4949ff;
    transition: 0.4s;
  }
}

@media (max-width: 650px) {
  .introducao {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: initial;
    color: #1a2744;
  }
  .introducao h1 {
    font-size: 2rem;
    line-height: 1.625;
    margin-bottom: 0;
  }
  .introducao p {
    font-size: 0.8rem;
  }

  .introducao a span {
    font-size: 0.6rem;
  }
  .introducao img {
    display: none;
  }

  .maisInfos {
    padding-top: 7rem;
  }
  .maisInfos a {
    margin-top: 2rem;
    display: inline-block;
    height: 2.5em;
    padding: 0.5rem 1.2rem;
    background: none;
    border-radius: 0.4rem;
    text-align: center;
    text-decoration: none;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    outline: 0.12rem solid#5151e6;
    background-color: #4949ff;
    color: #fff;
  }

  .maisInfos a:hover {
    background-color: #fff;
    color: #4949ff;
    transition: 0.4s;
  }
}
