@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Open+Sans&family=Poppins:wght@600&family=Prompt&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

#dark {
  background: #1f1f1f;
  color: #f8f8f8;
}

#light p {
  color: rgb(102, 102, 102);
}

#light {
  background: #ffffff;
}
img {
  max-width: 100%;
  display: inline-block;
}

.divMaster.icon {
  color: black;
  font-size: 2.2rem;
}
